* {
  font-family: Arial, Helvetica, sans-serif;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px 12px;
}

td:not(:nth-child(1)) {
  text-align: right;
}

.darkblue {
  background-color: darkblue;
  color: skyblue;
  text-align: left;
}

.city {
  background-color: skyblue;
}

.smallest {
  color: skyblue;
}

.biggest {
  font-weight: bold;
  color: darkblue;
}
